{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col">
            <h1>Listing: {{listing.title}}</h1>
        </div>
    </div>
    {%if user.is_authenticated %}
        {% if on_watchlist %}
            <div class="row align-items-start">
                <div class="col">
                    <form id="watchlist" action="/watchlist" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="listing" value={{listing.id}}></input>
                    </form>
                        <button form="watchlist" class="badge badge-secondary" type="submit">Un-Watchlist</button>
                </div>
            </div>
        {%else%}
        <div class="row align-items-start">
            <div class="col">
                <form id="watchlist" action="/watchlist" method='post'>
                    {% csrf_token %}
                    <input type="hidden" name="listing" value={{listing.id}}></input>
                </form>
                    <button form="watchlist" class="badge badge-secondary" type="submit">Watchlist</button>
            </div>
        </div>
        {%endif%}
    {%endif%}
    <div class="row align-items-start">
        <div class="col">
            {%if not listing.image_url%}
            {%else%}
            <img src="{{listing.image_url}}" class="img-fluid w-50" alt="Listing image">
            {%endif%}
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            {{listing.description}}
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
           
            <h1>${{listing.current_bid}}</h1>
        </div>
    </div>
     <div class="row align-items-start">
        <div class="col">
            {{nOfBids}} bid(s) so far. {%if winning %}Your bid is the current bid.{%endif%}
            
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <form id="bid_form" action='/bid' method="post">
                {% csrf_token %}
                <input name="listing" type="hidden" value="{{listing.id}}"></input>
                <input type="hidden" value={{user.id.id}} name="username" />
                <input 
                    name="amount" 
                    class='form-control' 
                    placeholder='Bid' 
                    type="number" 
                    min="{{minimum}}" 
                    max="10000.00" 
                    step="{{step}}" 
                    required/>
            </form>
        </div>
    </div>
    <div class="row align-items-start mt-2">
        <div class="col">
            <button class='btn btn-primary' form="bid_form" type="submit">Place Bid</button>
        </div>
    </div>
    <div class="row align-items-start mt-2">
        <div class="col">
            <h3>Details:</h3>
            <ul>
                <li>listed by: <a href={% url 'user' id=listing.user.id %}>{{listing.user}}</a></li>
                <li>category: <a href={% url 'category' category=listing.category %}>{{listing.category}}</a></li>
            </ul>
        </div>
    </div>
    {%if user.id == listing.user.id %}
    <div class="row align-items-start mt-2">
        <div class="col">
            <button class="btn btn-danger">Close auction</button>
        </div>
    </div>
    {%endif%}
   

  
</div>
{% endblock %}